<form id='new-journal-entry'>
  <label for='title'>Title</label>
  {{input id='title' name='title' value=title required='required'}}

  <label for='text'>Text</label>
  {{textarea id='text' name='text' value=text required='required'}}

  <button>Publish</button>
</form>
