#application {
  margin: 0 auto;
  width: 100%;
  max-width: 720px;
}

header {
  margin: $extra-large $extra-large 0;
  padding: $extra-large;
}

nav {
  margin: $large $extra-large 0;
  padding: 0 $extra-large;

  li {
    display: inline-block;
  }

  li:not(:first-of-type) {
    margin-left: $extra-large;
  }
}

section {
  margin: $large $extra-large 0;
  padding: $extra-large;

  p {
    margin-top: $medium;
  }
}

#not-found {
  height: $extra-large * 4;
}

form {
  margin: $large $extra-large 0;
  padding: $extra-large;

  .field {
    margin-top: $medium;
  }

  label[for='title'],
  label[for='date'],
  label[for='text'] {
    display: block;
  }

  input[type='text'] {
    margin-top: $extra-small;
    padding: $extra-small;
    width: 50%;
  }

  input[type='radio'] {
    margin-left: $small;
  }

  textarea {
    margin-top: $extra-small;
    padding: $extra-small;
    width: 100%;
    height: $extra-large * 4;
  }
}

footer {
  margin: $large $extra-large $extra-large;
  padding: $large $extra-large;
}

button {
  margin-top: $large;
  padding: $small $large;
}

// Sticky footer

#application {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}
