#application {
  margin: 0 auto;
  width: 100%;
  max-width: 720px;
}

header {
  margin: $xxx-large $xxx-large 0;
  padding: $xxx-large;
}

nav {
  margin: $xx-large $xxx-large 0;
  padding: 0 $xxx-large;

  li {
    display: inline-block;
  }

  li:not(:first-of-type) {
    margin-left: $xxx-large;
  }
}

section {
  margin: $xx-large $xxx-large 0;
  padding: $xxx-large;

  p {
    margin-top: $medium;
  }
}

#not-found {
  height: $xxxx-large;
}

form {
  margin: $xx-large $xxx-large 0;
  padding: $xxx-large;

  .field {
    margin-top: $medium;
  }

  label[for='title'],
  label[for='date'],
  label[for='text'] {
    display: block;
  }

  input[type='text'] {
    margin-top: $x-small;
    padding: $x-small;
    width: 50%;
  }

  input[type='radio'] {
    margin-left: $small;
  }

  textarea {
    margin-top: $x-small;
    padding: $x-small;
    width: 100%;
    height: $xxxx-large;
  }
}

footer {
  margin: $xx-large $xxx-large $xxx-large;
  padding: $xx-large $xxx-large;
}

button {
  margin-top: $xx-large;
  padding: $small $xx-large;
}

// Sticky footer

#application {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}
