body {
  background-color: $blue;
  color: $charcoal;
}

a {
  color: inherit;
}

header,
section,
form,
footer {
  background-color: white;
  border-radius: $small;
}

nav {
  a {
    border-bottom: 1px solid $charcoal;
    padding-bottom: 2px;
  }

  a:hover {
    border-bottom: 3px solid $charcoal;
    padding-bottom: 1px;
  }
}

h3 {
  border-bottom: 1px solid $blue;
  padding-bottom: $x-small;
}

button {
  background-color: $blue;
  border: 0;
  border-radius: 999px;
  color: inherit;
  transition: background-color 0.1s;
}

button:focus,
button:hover,
button:active {
  background-color: scale-color($blue, $lightness: 33%);
}

form {
  input[type='text'],
  textarea {
    border: 1px solid $blue;
    border-radius: $small;
    color: inherit;
  }
}
