html {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: $xxx-large;
  font-weight: normal;
}

h2 {
  font-size: $x-large;
  font-weight: normal;
}

h3 {
  font-size: $xx-large;
  font-weight: normal;
}

nav {
  font-size: $large;
}

.date,
.mood {
  font-size: $large;
}

button {
  font-family: inherit;
  font-size: $x-large;
  line-height: inherit;
}

form {
  label[for='title'],
  label[for='date'],
  label[for='mood'],
  label[for='text'] {
    font-size: $large;
  }

  input,
  textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}
