$x-small:     0.250rem;
$small:       0.500rem;
$medium:      1.000rem;
$large:       1.125rem;
$x-large:     1.250rem;
$xx-large:    1.500rem;
$xxx-large:   3.000rem;
$xxxx-large: 10.000rem;

$blue:     #85c1e9;
$charcoal: #333333;
