<div id='application'>
  {{#link-to 'index'}}
    <header>
      <h1>DevJournal</h1>
    </header>
  {{/link-to}}

  <main>
    {{outlet}}
  </main>

  <footer>
    <p>&copy; 2017 Anonymous Dev</p>
  </footer>
</div>
