<div id='application'>
  {{#link-to 'index'}}
    <header>
      <h1>DevJournal</h1>
    </header>
  {{/link-to}}

  <nav>
    <ul>
      <li>
        {{#link-to 'journal-entries'}}
          Journal Entries
        {{/link-to}}
      </li>

      <li>
        {{#link-to 'new-journal-entry'}}
          New Journal Entry
        {{/link-to}}
      </li>
    </ul>
  </nav>

  <main>
    {{outlet}}
  </main>

  <footer>
    <p>&copy; 2017 Anonymous Dev</p>
  </footer>
</div>
